<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <link rel='shortcut icon' type='image/png' href='./icon.png' />
  </head>

  <body>
    <title>{{TITLE}}</title>
    <iframe title="The actual game" id="game" src="game.html" frameborder="0" width="{{WIDTH}}" height="{{HEIGHT}}">
    </iframe>
    <br>
    <article>
      <section>
        <h1>Controls</h1>
        <div id="controls">
          <div><kbd>E</kbd> Put</div>
          <div><kbd>E</kbd> The</div>
          <div><kbd>E</kbd> Keybinds</div>
          <div><kbd>E</kbd> For</div>
          <div><kbd>E</kbd> The</div>
          <div><kbd>E</kbd> Game</div>
          <div><kbd>E</kbd> Here</div>
        </div>
      </section>
      <section id="credits">
        <h1>Credits</h1>
        <em>Insert your credits here</em>
      </section>
  </body>

</html>
