@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  background: black;
  color: white;
}
title {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
a {
  color: skyblue;
}
